<!-- 顶部横幅 -->
<section class="banner" style="position: relative">
    <div class="banner-content">
        <div class="d-flex align-items-center mb-3">
            <h1 class="banner-title mb-0">产品缺陷跟踪系统(DTS)——智能工作流</h1>
            <img src="/static/images/aival/3star.png" alt="" style="margin-bottom: 35px;margin-left: 10px">
        </div>
        <p class="banner-subtitle">你可以在这里管理产品缺陷记录</p>
        <div style="width: 380px;height: 300px;position: absolute;right: 10%;top: 20%;">
            <img src="/static/images/defect/p1_01.png" alt="" style="width: 100%;height: 100%;">
        </div>
    </div>
</section>