<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI评估 - 锋矢AI蓝军</title>
    {% include "user/base.html" %}
    <link href="{{ url_for('static', filename='css/ai-val.css') }}" rel="stylesheet" type="text/css">
    <style>
        .ai-val-detail-table {
            background-color: #FFFFFF;
            border-radius: 8px;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
            margin-bottom: 20px;
            overflow: hidden; /* Ensures border-radius clips content */
            border: 1px solid #C0D7F4;
            position: relative;
            overflow: auto;
        }
        .ai-val-card-blank{
            position: relative;
            height: 147px;
            width: 304px;
            flex-shrink:0
        }
        .ai-val-detail-table-tag{
            position: absolute;
            top: 0;
            z-index: 1000;
            left: -23px;
            width: 22px;
            height: 20px;
            cursor: pointer;
        }
        .ai-val-detail-tb-content th{
            border-color: inherit;
            border-style: solid;
            border-width: 0;
            height: 45.5px;
            text-align: left;
            background-color: #F6FAFF;
            font-size: 14px;
            padding: 12px 6px;
            border: 1px solid #E9EFF8;
            color: #557496;
            text-align: left;
            font-family: PingFang SC;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: center;
        }
        .ai-val-detail-tb-content td p {
            padding: 12px 6px;
            font-size: 14px;
            color: #557496;
            text-align: left;
            font-family: PingFang SC;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: justify;
        }

        .ai-val-detail-tb-content div {
            border-bottom: 1px solid #E9EFF8;
            height: 54px;
            align-items: center;
            display: flex;
            font-family: PingFang SC;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: justify;
            font-size: 14px;
            color: #557496;
            padding: 6px;
        }


    </style>
</head>
<body>
<!-- 顶部导航栏 -->
{% include "components/header.html" %}

<!-- 顶部横幅 -->
<section class="banner">
    <div class="banner-content">
        <div class="d-flex align-items-center mb-3">
            <h1 class="banner-title mb-0">产品立项质量</h1>
            <img src="/static/images/aival/3star.png" alt="" style="margin-bottom: 35px;margin-left: 10px">
        </div>
        <p class="banner-subtitle">这里有与你相关的工作质量评估</p>
        <div style="width: 300px;height: 300px;position: absolute;right: 10%;top: 20%;">
            <img src="/static/images/aival/banner{{g.type}}.png" alt="" >
        </div>
    </div>
</section>

<!-- 主要内容区域 -->
<div class="container-fluid" style="max-width: 1280px; margin-top: 20px;">
    <!-- 面包屑导航 -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-custom">
            <li class="breadcrumb-item"><a href="/user/index">首页</a></li>
            <li class="breadcrumb-item active">产品立项质量AI评估</li>
        </ol>
    </nav>
    {% if g.user_type=='mobile' %}
        {{ get_right_style(g.type)|safe }}
    {% endif %}
<!-- 搜索和操作区域 -->
<div class="row search-area">
    <div class="col-6 d-flex align-items-center"  style="width: 49%">
        <input type="checkbox" class="form-check-input ai-val-detail-checkbox"  id="allCheckbox" >
        <button class="btn-batch mr-3" id="all_tb" act="open" style="">全收/开</button>
        <select class="dropdown-select mr-3" id="state">
            <option value="">全部状态</option>
            <option value="1"> 已评估</option>
            <option value="0">草稿</option>
            <option value="-2">评估中</option>
            <option value="-3">评估失败</option>
        </select>
        <input type="text" class="search-input mr-3" style="width: 200px" placeholder="搜索标题"  value="{{search}}" id="search-text">
        <button class="btn-search d-flex align-items-center" id="search">
            <img src="/static/images/search-icon.svg" alt="搜索" width="14" height="14" class="mr-1">
            <span>搜索</span>
        </button>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-end" style="width: 51%">
        <button class="btn-batch mr-3" id="aival_delete_all" url="/user/lxAiVal/batch_delete" >批量删除</button>
        {% if g.user_type=='mobile' %}
            <button class="btn-batch mr-3" onclick="location.href='/user/get_token?type={{g.type}}'">获取API</button>
            <button class="btn-batch mr-3" onclick="window.open('/user/inner/list?type={{g.type}}', '_blank')">邀请同事</button>
        {% endif %}
        <button class="btn-add" >新增</button>
    </div>
</div>

<div class="ai-val-tb" id="tb">
    {% for item in items %}
    <div class="ai-val-detail-table" style="overflow: visible;">
        <div class="ai-val-detail-table-tag" blank="0"><img src="/static/images/aival/tb_hide_button.svg" alt="" style="width: 100%;height: 100%;"></div>
        <div class="ai-val-detail-header" style="background-color: rgb(229, 240, 253);">
            <input type="checkbox" class="form-check-input ai-val-detail-checkbox" value="{{item.id}}" name="item"  state="{{item.state}}" {% if item.state==-2 %} disabled {% endif %}>
            <span class="ai-val-detail-title">{{item.title}}</span>
            <span class="ai-val-detail-attachment" onclick="window.open('/user/lxAiVal/download?id={{item.id}}')"><img src="/static/images/aival/attachment.png" alt="AI"> {{item.file_name}}</span>
            {% if item.state==0  %}
            <span class="ai-val-detail-status" style=" color: rgba(141, 160, 192, 1);"> <span style="font-size: 14px; margin-right: 4px;">●</span>草稿</span>
            <span class="ai-val-detail-status-end" edit_id="{{item.id}}" >编辑</span>
            <span class="ai-val-detail-status-del" del_id="{{item.id}}">删除</span>
            {% elif  item.state==1  %}
            <span class="ai-val-detail-status" style="color:rgba(31, 172, 120, 1);"> <span style="font-size: 14px; margin-right: 4px;">●</span>已评分</span>
            <span class="ai-val-detail-status-report" onclick="location.href='/user/lxAiVal/report?type=2&id={{item.id}}'">详细评估报告</span>
            <span class="ai-val-detail-status-del" del_id="{{item.id}}">删除</span>
            {% elif item.state==-3  %}
            <span class="ai-val-detail-status" style="color: red"> <span style="font-size: 14px; margin-right: 4px;">●</span>评估失败</span>
            <span class="ai-val-detail-status-repeat-val" id = "repeat" repeat_id = "{{item.id}}" >重新评估</span>
            <span class="ai-val-detail-status-del" del_id="{{item.id}}">删除</span>
            {% elif item.state==-2 %}
            <span class="ai-val-detail-status"> <span style="font-size: 14px; margin-right: 4px;">●</span>评估中</span>
            <span class="ai-val-detail-status-end">刷新</span>
            {% endif %}
        </div>
        <table class="ai-val-detail-tb-content">
            <thead>
            <tr>
                <th style="width: 15%;">立项类型</th>
                <th style="width: 10%;">是否首次立项</th>
                <th style="width: 13%;">不同视角评分 </th>
                <th style="width: 10%;">评分 (满分10分)</th>
                <th style="width: 52%;">总体评价  <img src="/static/images/aival/start.svg" alt="AI" class="ai-icon"></th>
            </tr>
            </thead>
            <tbody>
            <tr >
                <td>
                    <P>市场机会/威胁分析驱动型立项</P>
                </td>
                <td>
                    <p>首次立项</p>
                </td>
                <td style="padding: 0;">
                    <div>
                        市场机会分析工作质量
                    </div>
                    <div>
                        产品价值设定工作质量
                    </div>
                    <div>
                        产品包定义工作质量
                    </div>
                    <div>
                        产品执行策略工作质量
                    </div>
                    <div>
                        投资收益分析工作质量
                    </div>
                    <div>
                        产品立项整体工作质量
                    </div>
                </td>
                <td  style="padding: 0">
                    <div>
                        {% if item.step_1_score is not none %}
                        <span
                                {% if item.step_1_score>=8 %}
                                class="score score-green"
                                {% elif item.step_1_score>=6 and item.step_1_score<8  %}
                                class="score score-blue"
                                {% else %}
                                class="score score-red"
                                {% endif %}
                            >
                                {{item.step_1_score}}
                        </span>
                        {% endif %}
                    </div>
                    <div>
                        {% if item.step_2_score is not none %}
                        <span
                                {% if item.step_2_score>=8 %}
                                class="score score-green"
                                {% elif item.step_2_score>=6 and item.step_2_score<8  %}
                                class="score score-blue"
                                {% else %}
                                class="score score-red"
                                {% endif %}
                            >
                                {{item.step_2_score}}
                        </span>
                        {% endif %}
                    </div>
                    <div>
                        {% if item.step_3_score is not none %}
                        <span
                              {% if item.step_3_score>=8 %}
                                class="score score-green"
                                {% elif item.step_3_score>=6 and item.step_3_score<8  %}
                                class="score score-blue"
                                {% else %}
                                class="score score-red"
                                {% endif %}
                            >
                                {{item.step_3_score}}
                        </span>
                        {% endif %}
                    </div>
                    <div>
                        {% if item.step_4_score is not none %}
                        <span
                                {% if item.step_4_score>=8 %}
                                class="score score-green"
                                {% elif item.step_4_score>=6 and item.step_3_score<8  %}
                                class="score score-blue"
                                {% else %}
                                class="score score-red"
                                {% endif %}
                            >
                                {{item.step_4_score}}
                        </span>
                        {% endif %}
                    </div>
                    <div>
                        {% if item.step_5_score is not none %}
                        <span
                                {% if item.step_5_score>=8 %}
                                class="score score-green"
                                {% elif item.step_5_score>=6 and item.step_5_score<8  %}
                                class="score score-blue"
                                {% else %}
                                class="score score-red"
                                {% endif %}
                            >
                                {{item.step_5_score}}
                        </span>
                        {% endif %}

                    </div>
                    <div>
                        {% if item.total_score is not none %}
                        <span
                                {% if item.total_score>=8 %}
                                class="score score-green"
                                {% elif item.total_score>=6 and item.total_score<8  %}
                                class="score score-blue"
                                {% else %}
                                class="score score-red"
                                {% endif %}
                            >
                                {{item.total_score}}
                        </span>
                        {% endif %}
                    </div>
                </td>
                <td style="text-align: center">
                    {% if item.case>0  and item.summarize_val_sug!="" and  item.summarize_val_sug!=None %}
                    <div style="height: 300px;width: 100%;overflow-y: auto;align-items:start;border-bottom: 1px solid transparent;">
                        立项工作实际上处在的阶段:{{caseTextList[item.case]|safe}}<br><br>
                        下阶段工作重点:{{item.summarize_val_sug|safe}}<br><br>
                    </div>
                    {% else %}
                        <img src="/static/images/aival/aivaling.png" alt="AI">
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    {% endfor %}


    {% if pagination.total==0 %}
    <div style="text-align: center">
        <img src="/static/images/aival/no_record.png">
    </div>
    {% endif %}

</div>
<div class="d-flex justify-content-end mt-4">
    <div class="pagination" >
        <style>
            .page-item{
                width: 28px;
                height: 28px;
                background-color: #FFFFFF;
                border: 1px solid #DADDE5;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 8px;
            }
            .page-link{
                width: 28px;
                height: 28px;
                border: 1px solid #DADDE5;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                color:black;
            }

            .page-item .active{
                width: 28px;
                height: 28px;
                background-color: #FFFFFF;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 8px;
            }
            .active>.page-link, .page-link.active{
                color: #0d6efd;
                font-size: 15px;
                background-color:  #FFFFFF;
                border-color:#0d6efd;
            }
        </style>
        {% if pagination.links!='' %}
        <span class="mr-3" style="color: #929292; font-size: 12px; display: grid; place-items: center; margin-right: 5px">共{{pagination.total}}条</span>
        {% endif %}
        {{ pagination.links }}
    </div>
</div>
<!-- 底部区域 -->
{% include "user/footer.html" %}

<!-- 登录弹框背景遮罩 -->
<div class="modal-overlay" id="modalOverlay"></div>
<!-- 图片放大模态框 -->
<div class="image-modal" id="imageModal">
    <div class="image-modal-container">
        <button type="button" class="btn-close" id="closeImageModal">
            X
        </button>
        <div class="image-modal-content">
            <img src="" alt="放大图片">
        </div>
    </div>
</div>

{% include "user/base_js.html" %}
{% include "user/base_toast.html" %}
{% include "components/confirm_win.html" %}
{% include "components/timing_confirm.html" %}
{% include "user/lxAiVal/pub_doc.html" %}

    <script>
    $(document).ready(function() {
        //联系
        $('.ai-val-card-title-footer-text').click(function() {
            $('#contactUsLink').click()
        })
        //删除按钮
        $(".ai-val-detail-status-del").on("click", function() {
            $("#delModal").modal('show')
            $("#confirmDeleteBtn").attr("del_id", $(this).attr('del_id'))
            $("#confirmDeleteBtn").attr("url",'/user/lxAiVal/delete')
        })
        //显示隐藏评估全部内容
        $('.ai-val-detail-table-tag').click(function() {
            if($(this).attr("blank")=="0"){
                $(this).closest('.ai-val-detail-table').find('.ai-val-detail-tb-content').hide()
                $(this).attr("blank","1")
                $(this).html('<img src="/static/images/aival/tb_show_button.svg" alt="" style="width: 100%;height: 100%;">')
                $(this).closest('.ai-val-detail-table').find('.ai-val-detail-header').css('background-color','white')
                $(this).closest('.ai-val-detail-table').find('.ai-val-detail-header').css('border-radius','8px 8px 8px 8px')

            }else{
                $(this).closest('.ai-val-detail-table').find('.ai-val-detail-tb-content').show()
                $(this).attr("blank","0")
                $(this).html('<img src="/static/images/aival/tb_hide_button.svg" alt="" style="width: 100%;height: 100%;">')
                $(this).closest('.ai-val-detail-table').find('.ai-val-detail-header').css('background-color','#E5F0FD')
                $(this).closest('.ai-val-detail-table').find('.ai-val-detail-header').css('border-radius','8px 8px 0px 0px')
            }
        })
        //搜索
        $('#search').on('click', function() {
            location.href="/user/lxAiVal/list?type={{g.type}}&state="+$('#state').val()+'&search='+$('#search-text').val()
        })
        $('#state').val('{{state}}')
        //批量删除按钮
        $('#aival_delete_all').on('click', function(){
            var arr = []
            $('#tb input[type=checkbox]').each(function(){
                if(true == $(this).is(':checked')){
                    arr.push($(this).val())
                }
            });
            if (arr.length == 0) {
                showToast('warning', "至少选中一个");
                return
            }
            $('#batchDelModal').modal('show');
            $('#batchConfirmDeleteBtn').attr('url','/user/lxAiVal/batch_delete?type={{g.type}}');
        })
        // 关闭图片模态框


        $('.ai-val-detail-status-end:contains("刷新")').click(function(){
            location.reload()
        })

        $('.ai-val-detail-status-end:contains("编辑")').click(function(){
            $('#pubDoc1').modal('show');
            $('#wait-upload-div').hide()
            $('#uploading-box-2').show();
            $('.button-div').show()
            $('#record_id').val($(this).attr('edit_id'))
        })


        $('#all_tb').click(function(){
            if($(this).attr("act")=="open") {
                $('.ai-val-detail-table-tag').each(function () {
                    if ($(this).attr("blank") == "0") {
                        $(this).click()
                        $(this).attr("blank",1)
                    }

                })
                $(this).attr("act","close")
            }
            else{
                $('.ai-val-detail-table-tag').each(function () {
                    if ($(this).attr("blank") == "1") {
                        $(this).click()
                        $(this).attr("blank",0)
                    }

                })
                $(this).attr("act","open")
            }
        })
    $('#showBatchExport').click(function (){
            $('#valBatchExportModal').modal('show');
            var laydate = layui.laydate;
            laydate.render({
                elem: "#exportDate",
                theme: '#C0D7F4',
                type: "datetime",
                range: "~",
                shortcuts: [
                    {
                        text: "上个月",
                        value: function(){
                            var date = new Date();
                            var year = date.getFullYear();
                            var month = date.getMonth();
                            return [
                                new Date(year, month - 1, 1),
                                new Date(year, month, 0, 23, 59, 59)
                            ];
                        }
                    },
                    {
                        text: "这个月",
                        value: function(){
                            var date = new Date();
                            var year = date.getFullYear();
                            var month = date.getMonth();
                            return [
                                new Date(year, month, 1),
                                new Date(year, month + 1, 0, 23, 59, 59)
                            ];
                        }
                    },
                    {
                        text: "下个月",
                        value: function(){
                            var date = new Date();
                            var year = date.getFullYear();
                            var month = date.getMonth();
                            return [
                                new Date(year, month + 1, 1),
                                new Date(year, month + 2, 0, 23, 59, 59)
                            ];
                        }
                    }
                ]
            })
    })
        $('.btn-add').on('click', function(){
            $('#pubDoc1').modal('show');
            $('#wait-upload-div').show()
            $('.uploading-box').hide();
            $('.button-div').hide()
        })
        $('.ai-val-detail-status-repeat-val').click(function (){
            let recordId = $(this).attr('repeat_id')
            var valDoneModal = new bootstrap.Modal(document.getElementById('valDoneModal'));
            $('#timeComfirmWinContinueAdd').click(function (){
                location.href = '/user/lxAiVal/list'
            })
            $('#divAboutTime').html("大约 3～6 分钟完成评估，关闭弹窗不会中断评估进度")
            valDoneModal.show();
            $.ajax({
                url: "/user/lxAiVal/repeat?type={{g.type}}&id="+recordId,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                timeout: 1000000,
                async: false,
                success: function (data) {
                    // if(data.code==1){
                    //     showToast('success', data.msg);
                    //     location.reload();
                    // }else{
                    //     showToast('warning', data.msg);
                    // }
                }
            })

            let interval = setInterval(function () {
                $.ajax({
                    url: "/user/lxAiVal/get_ai_done_state?type={{g.type}}&id="+recordId,
                    type: "POST",
                    contentType: "application/json;charset=UTF-8",
                    timeout: 10000,
                    async: false,
                    success: function (data) {
                        if(data.code==1){
                            showToast('success', data.msg);
                            setTimeout(() => location.reload(), 2000)
                        } else if(data.code==-1){
                            showToast('warning', data.msg);
                            setTimeout(() => location.reload(), 2000)
                        }
                    }
                })
            }, 5000)


        })
    });
</script>

</body>
</html> 