        <title>锋矢AI蓝军</title>
        <link href="{{ url_for('static', filename='lib/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css" >
        <link href="{{ url_for('static', filename='lib/layui/css/layui.css') }}" rel="stylesheet" type="text/css">
        <link rel="icon" href="{{url_for('static', filename='favicon.png')}}" type="image/x-icon">
        <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}" type="image/x-icon">

