<footer class="footer">
  <div class="container">
    <!-- 快捷入口 -->
    <div class="quick-links text-center">
      <span class="quick-links-title">快捷入口：</span>
      <a class="quick-link" href="/user/index">首页</a>
      <a class="quick-link" href="/user/lxAiVal/list?type=2">产品立项</a>
      <a class="quick-link" href="/user/aiVal/list?type=1">产品需求管理</a>
      <a class="quick-link" href="/user/aiVal/list?type=0">产品缺陷管理</a>
      <a class="quick-link" id="contactUsFooterLink">联系我们</a>
      <a class="quick-link" id="aboutUsLink">关于我们</a>
    </div>

    <hr class="footer-divider">

    <!-- 版权信息 -->
    <div class="copyright text-center">
      <div class="d-inline-flex align-items-center">
        <span>Copyright ©2025</span>
        <div class="d-flex align-items-center ms-2">
          <span ><a class="company-name" href="https://imblade.com/" target="_blank">锋矢科技</a></span>
        </div>
      </div>
      <div class="mt-1" onclick="location.href='https://beian.miit.gov.cn/'" style="cursor: pointer">粤ICP备2023062980号</div>
    </div>
  </div>
</footer>

<div class="about-us-modal" id="aboutUsModal" >
  <div class="contact-container" style="background-image: url(/static/images/aboutus.png); background-repeat: no-repeat; background-position: center top; background-size: 100% 100%;">
    <div class="contact-header">
      <button type="button" class="btn-close" id="closeAboutUsModal" style="top: 16px;right: 16px;">
        <img src="/static/images/register/register-close-icon.svg" alt="关闭">
      </button>
    </div>
  </div>
</div>

