<!DOCTYPE html>
<html class="bg-black">
    <head>
        <meta charset="UTF-8">
        <title>锋矢AI蓝军</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <link href="{{ url_for('static', filename='admin/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />

        <link href="{{ url_for('static', filename='admin/plug-in/font-awesome-4.7.0/css/font-awesome.css') }}" rel="stylesheet" type="text/css" />

        <link href="{{ url_for('static', filename='admin/css/AdminLTE.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='admin/css/ionicons.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='admin/plug-in/layui/css/layui.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='admin/css/jQueryUI/jquery-ui-1.10.3.custom.css')}}" rel="stylesheet">
        <script src="{{ url_for('static', filename='admin/plug-in/layui/layui.js')}}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='admin/js/jquery.min.js')}}"></script>
        <script src="{{ url_for('static', filename='admin/js/jquery-ui-1.10.3.js')}}"></script>
        <script src="{{ url_for('static', filename='admin/js/bootstrap.min.js')}}"></script>
        <script src="{{ url_for('static', filename='admin/js/AdminLTE/app.js')}}" type="text/javascript"></script>
    </head>